[Unit]
Description=Apache Kafka server
After=network.target

[Service]
Type=forking
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart=/opt/kafka/kafka_2.13-{{ kafka_version }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/kafka.properties
ExecStop=/opt/kafka/kafka_2.13-{{ kafka_version }}/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
